.footer-container{
    margin: 2rem 0 0 0;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
}
.footer-area{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 1fr;
    margin-top: 0px;
    padding: 10px 0;
    
}
.footer-items{
    text-align: center;
    padding: 1rem 0;
    color: white;
}
.footer-items li{
    cursor: pointer;
}
.footer-items li:hover{
    color: lightgray;
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: white;
    font-size: 2rem;
}
.social{
    display: flex;
    gap: 0.5rem;
}
.social li{
    cursor: pointer;
}
.social li:hover{
    color: lightgrey;
}
@media (min-width: 320px) and (max-width: 480px){
    .footer-container{
        font-size: 8px;
    }
    .footer-social{
        font-size: 8px;
    }

}