.hotellist-container {
    width: 80%;
    margin: 10px auto 0 auto;
}

.card--body {
    grid-area: cardbody;

}

.review {
    grid-area: review;
}

.listsection .card {
    border: 1px solid lightgray;
    padding: 15px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cardimage cardbody review";
    border-radius: 10px;
    gap: 10px;
    margin: 10px 0 0 0;

}

.cardimage {
    grid-area: cardimage;
    border-radius: 10px;
    position: relative;
}

.imageicon {
    position: absolute;
    margin: 8px;
    color: white;
}
.image-icon {
    position: absolute;
    margin: 8px;
    color: red;
}

.imageicon:hover {
    color: red;
    cursor: pointer;
}

.cardtitle {
    color: slateblue;
    font-weight: bolder;
    font-size: 20px;

}

.cardtitle:hover {
    color: black;
}

.carddesc {
    margin-top: 20px;
    font-size: 12px;

}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
    margin: 2px 0 0 9px;
    padding: 0.5rem 1rem;
    border-radius: 10px 100px / 120px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border: none;

}

.pricebtn {
    margin-top: 105px;
    background-color: slateblue;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.tags {
    display: flex;
    gap: 8px;
    font-size: 12px;
    color: royalblue;
    text-decoration: underline;
    font-weight: bold;
}

.review-count {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.1rem 0 0.1rem 0.8rem;
}

.top-rated {
    margin: 0 1rem;
    color: green;
    font-weight: bold;
}

.choice {
    margin-top: 1rem;
    font-weight: bold;
    color: gray;
}

@media (min-width:320px) and (max-width:480px) {
    .hotellist-container {
        width: 100%;
    }

    .listsection .card {
        grid-template-columns: 30% 50% 20%;
        gap: 0.35rem;

    }

    .top-rated {
        margin: 0 0.5rem;
        color: green;
        font-weight: bold;
        font-size: 8px;
    }

    .choice {
        margin-top: 0.3rem;
        font-weight: bold;
        color: gray;
        font-size: 8px;
    }

    .cardimage {
        height: 5rem;
        width: 5rem;
    }

    .cardtitle {
        color: slateblue;
        font-weight: bolder;
        font-size: 9px;

    }

    .carddesc {
        margin-top: 3px;
        font-size: 7px;

    }

    .staricon {
        font-size: 15px;

    }

    .rating {

        margin: 1px 0 0 6px;
        font-size: 8px;
        padding: 0.25rem 0.5rem;
    }

    .pricebtn {
        margin-top: 35px;
        font-size: 8px;
        padding: 5px;


    }

    .tags {
        font-size: 6px;
    }

    .listsection {
        margin: 0 10px 0 10px;
    }

    .review-count {
        font-size: 8px;
    }

    .imageicon {
        font-size: 8px;
    }
    .image-icon {
        font-size: 8px;
    }


}

@media (min-width:481px) and (max-width:767px) {
    .hotellist-container {
        width: 100%;
    }

    .listsection .card {
        grid-template-columns: 30% 50% 20%;
        gap: 0.35rem;

    }

    .top-rated {
        margin: 0 0.5rem;
        color: green;
        font-weight: bold;
        font-size: 10px;
    }

    .choice {
        margin-top: 0.3rem;
        font-weight: bold;
        color: gray;
        font-size: 10px;
    }

    .cardimage {
        height: 8rem;
        width: 8rem;
    }

    .cardtitle {
        color: slateblue;
        font-weight: bolder;
        font-size: 15px;

    }

    .carddesc {
        margin-top: 3px;
        font-size: 10px;

    }

    .staricon {
        font-size: 15px;

    }

    .rating {

        margin: 1px 0 0 6px;
        font-size: 10px;
        padding: 0.4rem 0.8rem;
    }

    .pricebtn {
        margin-top: 60px;
        font-size: 10px;
        padding: 5px;


    }

    .tags {
        font-size: 8px;
    }

    .listsection {
        margin: 0 10px 0 10px;
    }

    .review-count {
        font-size: 10px;
    }

    .imageicon {
        font-size: 10px;
    }
    .image-icon {
        font-size: 10px;
    }
}