.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 50%; 
    height: 100%; 
     margin: auto;
    
  }

  .modal-hidden{
    display: none;
  }

.modal-content {
    background-color: whitesmoke;
    margin: 15% auto; 
    border: 1px solid lightgray;
    border-radius: 0.5rem;
  }
  
 .modal-header span{
    font-weight: 1000;
    font-size: large;
    padding: 0.5rem;
 }
 .modal-body{
    display: flex;
    margin: 0 1rem 0 1rem;
    
 }
 .modal-button{
    display: flex;
    justify-content:flex-end;
    margin: 1rem;
    gap: 1rem;
    
 }
 .modal-button button{
   cursor: pointer;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
 }
 .modal-area{
   display: flex;
   gap: 1.5rem;
 }
 .modal-area h5{
   margin: 1rem ;
   padding: 0.1rem;
 }
 .modal-area span{
   margin: 1rem ;
   padding: 0.1rem;
 }
 .modal-1{
   height: 15rem;
   overflow-y: scroll;
 }
 
  