.book-container{
    width: 80%;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.book-container .card{
    display: grid;
    grid-template-columns: 20% 60% 20% ;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-body-area{
    display: flex;
    gap: 2rem;
}
.card-body-area label{
    color: gray;
}
.card-body-area span{
    font-weight: bold;
}
.card-body-area .card-items{
    display: flex;
    flex-direction: column;
}

@media (min-width: 320px) and (max-width: 480px){
    .book-container{
        width: 100%;
        margin: 0.2rem 0.4rem;
    }
    .book-container .card{
        padding: 10px;
        font-size: 8px;
    }
    .book-image{
        width: 3rem;
        height: 3rem;
    }
    .card-body{
        gap: 0.5rem;
    }
    .card-body-area {
        gap: 0.5rem;
    }
    .card-body-area .bookingId{
        display: none;
    }

}
@media (min-width: 768px) and (max-width: 1024px){
    .book-image{
        width: 5rem;
        height: 5rem;
    }
    .card-body-area .bookingId{
        display: none;
    }
}