.review-container{
    display: grid;
    gap: 3rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "rating-area review-area ";
  
}
.rating-area{
    grid-area: rating-area;
}

.review-area{
    grid-area: review-area;
    
}
.review-content{
    border: 1px solid lightgrey;
    width: 100%;
    height: 10rem;
    overflow-y: scroll;
}
.star-rate{
    margin: 1rem 0;
}
.star{
    cursor:'pointer';
    background-color: white;
}
.star:hover{
    color: gold;
}
.rating-button{
    display: flex;
    justify-content: flex-end;
}
.rating-button button{
    margin: 0.5rem 0;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #ffc400;
    border-radius:0.3rem;
    cursor: pointer;
    
}
.rating-button button:hover{
    color: white;
}
.text-area{
    width: 100%;
}
.star{
    color: gold;
}
.starnull:hover{
    color: gold;
}

.review-content .card{
    border: none;
    display: flex;
    
    
}
.card .card-rating{
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      
}
.card .rate{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #ffa534;
}
.rate span{
    color: white;
    font-weight: bold;
}
.review-name{
    background-color: grey;
    border-radius: 0.25rem;
    color: white;
    width: fit-content;
    padding: 0 0.5rem;
}
.card-review{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media (min-width: 320px) and (max-width: 480px){
.review-container{
    display: block;
}
.rating-area{
    font-size: 8px;
}
.rating-area h4,.review-area h4{
    font-size: 12px;
    margin: 0.2rem 0;
} 
.review-area{
    font-size: 8px;
}
.star-rate{
    margin: 0.5rem 0;
}
.rating-button button{
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-radius:0.3rem;
    font-size: 8px;
    
}
.review-content{
    height: 5rem;
}
.card .card-rating{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.card .rate{
    width: 80%;
    height: 80%;
}
.card-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


}