.container{
    width: 80%;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.card{
    border: 1px solid lightgray;
    padding: 15px;
    display: flex;
    border-radius: 10px;
    gap: 10px;
    flex-wrap: nowrap;
    margin: 10px 0 0 0;
    
}
table{
    width: 100%;
}
.table{
    margin: 10px 0 0 0 ;
}
select {
    padding: 4px;
    margin: 5px 0 0 0;
}
